<form> 
<input type="button" value="Close" onClick='self.close()' 
 style="background-color: #C0C292; border: solid #797C45 1px; float: right"> 
 </form> 
<b><h2>Help on using Dashboard</h2></b>
<br><br>
<p>
All the help contenets goes here
</p>
<form> 
<input type="button" value="Close" onClick='self.close()' 
 style="background-color: #C0C292; border: solid #797C45 1px; float: right"> 
 </form> 
